<div class="table-with-filters">
    <div class="table-parent">
        <mat-table class="games-table" [dataSource]="data" matSort (matSortChange)="announceSortChange()"
            matSortActive="Title" matSortDirection="asc">
            <ng-container matColumnDef="Title">
                <th mat-header-cell mat-sort-header *matHeaderCellDef class="nameColumn">Name</th>
                <td mat-cell *matCellDef="let data" class="nameColumn">
                    <span class="title-span">{{data.Title}}</span>
                </td>
                <td mat-footer-cell *matFooterCellDef class="nameColumn">{{totalText()}}</td>
            </ng-container>
            <ng-container matColumnDef="ConsoleName">
                <th mat-header-cell mat-sort-header *matHeaderCellDef class="consoleNameColumn">Console name</th>
                <td mat-cell *matCellDef="let data" class="consoleNameColumn"> {{data.ConsoleName}} </td>
                <td mat-footer-cell *matFooterCellDef class="consoleNameColumn">Total</td>
            </ng-container>
            <ng-container matColumnDef="CompletionStatus">
                <th mat-header-cell mat-sort-header *matHeaderCellDef class="statusColumn">Status</th>
                <td mat-cell *matCellDef="let data" class="statusColumn">
                    <div class="status-text" [ngClass]="completionStatusClass(data.CompletionStatus)">
                        {{completionStatusText(data.CompletionStatus)}}
                    </div>
                </td>
                <td mat-footer-cell *matFooterCellDef class="statusColumn"></td>
            </ng-container>

            <ng-container matColumnDef="Achievements">
                <th mat-header-cell mat-sort-header *matHeaderCellDef class="achievementsColumn">Achievements</th>
                <td mat-cell *matCellDef="let data" class="achievementsColumn"> {{achievementsText(data)}} </td>
                <td mat-footer-cell *matFooterCellDef class="achievementsColumn"></td>
            </ng-container>

            <ng-container matColumnDef="Points">
                <th mat-header-cell mat-sort-header *matHeaderCellDef class="pointsColumn">Points</th>
                <td mat-cell *matCellDef="let data" class="pointsColumn"> <b>{{data.Points}}</b> ({{data.TruePoints}})
                </td>
                <td mat-footer-cell *matFooterCellDef class="pointsColumn"></td>
            </ng-container>
            <ng-container matColumnDef="Ratio">
                <th mat-header-cell mat-sort-header *matHeaderCellDef class="ratioColumn">Ratio</th>
                <td mat-cell *matCellDef="let data" class="ratioColumn">{{data.Ratio.toPrecision(3)}}</td>
                <td mat-footer-cell *matFooterCellDef class="ratioColumn"></td>
            </ng-container>
            <ng-container matColumnDef="Percentage">
                <th mat-header-cell mat-sort-header *matHeaderCellDef class="percentageColumn">Percentage</th>
                <td mat-cell *matCellDef="let data" class="percentageColumn">
                    <div class="data-progress-bar-wrapper">
                        <mat-progress-bar class="data-progress-bar" mode="determinate" [value]="data.Percent">
                        </mat-progress-bar>
                        <div class="data-progress-bar-value"> {{data.Percent.toPrecision(3)}} % </div>
                    </div>
                </td>
                <td mat-footer-cell *matFooterCellDef class="percentageColumn"></td>
            </ng-container>

            <ng-container matColumnDef="ID">
                <th mat-header-cell mat-sort-header *matHeaderCellDef class="idColumn">Id</th>
                <td mat-cell *matCellDef="let data" class="idColumn">
                    <button class="urlButton" (click)="openURL(data)">
                        {{data.ID}}
                    </button>
                </td>
                <td mat-footer-cell *matFooterCellDef class="idColumn"></td>
            </ng-container>

            <ng-container matColumnDef="LinkToData">
                <th mat-header-cell mat-sort-header *matHeaderCellDef class="linkToDataColumn"></th>
                <td mat-cell *matCellDef="let data" class="linkToDataColumn">
                    <button class="linkToDataButton" (click)="selectGameData(data)">
                        <img src="link.svg" class="link-icon">
                    </button>
                </td>
                <td mat-footer-cell *matFooterCellDef class="idColumn"></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky:true"></tr>
            <tr mat-row *matRowDef="let row columns:columnsToDisplay;"></tr>
            <tr mat-footer-row *matFooterRowDef="columnsToDisplay; sticky:true"></tr>
        </mat-table>
        <div class="filters-parent">
            <mat-form-field>
                <mat-label>Filter</mat-label>
                <input matInput type="text" [(ngModel)]="filterText" (keyup)="applyFilter()">
                @if (filterText) {
                <button matSuffix matIconButton (click)="clearFilterText()" class="closeButton">
                    <mat-icon class="closeIcon">close</mat-icon>
                </button>
                }
            </mat-form-field>
            <mat-form-field>
                <mat-label>Console</mat-label>
                <mat-select (selectionChange)="changeSelectedConsoles($event)" [formControl]="consoles" multiple>
                    @for (console of consolesList; track console){
                    <mat-option [value]="console">{{console}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Completion status</mat-label>
                <mat-select (selectionChange)="changeSelectedCompletionStatuses($event)"
                    [formControl]="completionStatuses" multiple>
                    @for (status of completionStatusesList; track status){
                    <mat-option [value]="status">{{status}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Sources</mat-label>
                <mat-select (selectionChange)="changeSelectedSources($event)" [formControl]="sources" multiple>
                    @for (source of sourcesList; track source){
                    <mat-option [value]="source">{{source}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <button class="request-data-button" (click)="clearFilters()"> Clear filters </button>
        </div>
        <div class="bottom-bar">
            <button class="request-data-button" (click)="requestAllData()" [disabled]="isRequestRunning">
                Request games data
            </button>
            <button class="request-data-button" (click)="requestAllExistingData()" [disabled]="isRequestRunning">
                Get existing games data
            </button>
            <section class="source-to-request" [formGroup]="sourcesToRequest">
                <mat-checkbox class="source-to-request" formControlName="ra" (change)="updateSources()">
                    RetroAchievements
                </mat-checkbox>
                <mat-checkbox class="source-to-request" formControlName="steam" (change)="updateSources()">
                    Steam
                </mat-checkbox>
                <mat-checkbox class="source-to-request" formControlName="ps3" (change)="updateSources()">
                    PS3
                </mat-checkbox>
                <mat-checkbox class="source-to-request" formControlName="psvita" (change)="updateSources()">
                    PSVita
                </mat-checkbox>
                <mat-checkbox class="source-to-request" formControlName="xbox360" (change)="updateSources()">
                    Xbox 360
                </mat-checkbox>
            </section>
            <mat-paginator [pageSize]="27" hidePageSize showFirstLastButtons style="margin-left:auto"></mat-paginator>
        </div>
    </div>


</div>