.table-with-filters{
  display:flex;
  flex-direction: row;
  padding:10px;
}

mat-table{  
  overflow-y:scroll;
  display: flex;
  flex-direction: column;
  height:80vh;
  width:70vw;
  background-color:var(--purple1);
  border:1px solid white;
}

.mat-mdc-header-row,
.mat-mdc-row,
.mat-mdc-footer-row {
  color: white;
  border-bottom: 1px solid white;
  text-align: left;
  height:35px;
  display:flex;
  align-items: center;
  flex:none;
}

.mat-mdc-header-row,
.mat-mdc-footer-row{
  font-weight: bold;
  background-color:var(--purple0);
}

.mat-mdc-footer-row{
  margin-top:auto;
  border-top: 1px solid white;
}

.consoleNameColumn{
  width:15vw;
}
.nameColumn{
  width:27vw;
}
.title-span{
   text-overflow: ellipsis; 
   overflow: hidden; 
   white-space: nowrap;
}
.idColumn{
  width:5vw
}
.statusColumn{
  width:10vw;
}
.statusText{
  display:inline-block;
  border-radius: 5px;
  padding-top:2px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
}
.achievementsColumn{
  width:8vw
}
.percentageColumn{
  width:8vw
}

.status-not-played{
  background-color: #a0a0a0;
  color:black;
}
.status-mastered{
  background-color: gold;
  color:black;
}
.status-beaten{
  background-color: green;
  color:white;
}
.status-tried{
  background-color: aquamarine; 
  color:black;
}
.status-no-achievements{
  background-color: #555555;
  color:white;
}
.status-cannot-play{
  background-color: black;
  color:white;
}

.urlButton{
  background:transparent;
  border:0px;
  color:white;
  text-decoration: underline;
  font-size: medium;
}

.urlButton:hover{
  cursor: pointer;
}

.bottom-bar{
  display:flex;
  flex-direction: row;
  align-items: center;
}

mat-option{
  background-color:black !important;
  color:white;
}

.app-form-field{
  color:white;
  width:20vw;
  margin-top:10px;
  margin-left:10px;
}

.closeButton{
  background-color:transparent ;
  border: 0;
  cursor: pointer;
}

.closeIcon{
  color:white;
}

.request-data-button{
  float:left;
  margin-top:20px;

  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.request-data-button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.request-data-button:hover:enabled {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.request-data-button:active:enabled {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.request-data-button:disabled{
  background-image: radial-gradient(100% 100% at 100% 0, #555555 0, #5468ff 100%);
  color:#AAAAAA;
}