.table-with-filters {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.games-table {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 70vw;
  background-color: var(--purple1);
  border: 1px solid white;
}

.mat-mdc-header-row,
.mat-mdc-row,
.mat-mdc-footer-row {
  color: white;
  border-bottom: 1px solid white;
  text-align: left;
  height: 35px;
  display: flex;
  align-items: center;
  flex: none;
}

.mat-mdc-header-row,
.mat-mdc-footer-row {
  font-weight: bold;
  background-color: var(--purple0);
}

.mat-mdc-footer-row {
  margin-top: auto;
  border-top: 1px solid white;
}

.consoleNameColumn {
  width: 15vw;
}

.nameColumn {
  width: 27vw;
}

.title-span {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.idColumn {
  width: 5vw
}

.statusColumn {
  width: 10vw;
}

.achievementsColumn {
  width: 8vw
}

.percentageColumn {
  width: 8vw
}

.urlButton {
  background: transparent;
  border: 0px;
  color: white;
  text-decoration: underline;
  font-size: medium;
}

.urlButton:hover {
  cursor: pointer;
}

.bottom-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  justify-content: space-between;
}

.source-to-request {
  display: flex;
}

.source-to-request {
  display: flex;
  flex-grow: 0.5;
}

::ng-deep mat-option {
  background-color: black !important;
  color: white !important;
}

::ng-deep mat-form-field {
  color: white;
  width: 20vw;
  margin-top: 10px;
  margin-left: 10px;
}

.closeButton {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.closeIcon {
  color: white;
}