  @use '@angular/material' as mat;

  .table-with-filters {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .games-table {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    height: 78vh;
    width: 100%;
    background-color: var(--purple1);
    border: 1px solid white;
  }

  .filters-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: baseline;
    gap: 5vw;
  }

  .mat-mdc-header-row,
  .mat-mdc-row,
  .mat-mdc-footer-row {
    color: white;
    border-bottom: 1px solid white;
    text-align: left;
    height: 35px;
    display: flex;
    align-items: center;
    flex: none;
  }

  .mat-mdc-header-row,
  .mat-mdc-footer-row {
    font-weight: bold;
    background-color: var(--purple0);
  }

  .mat-mdc-footer-row {
    margin-top: auto;
    border-top: 1px solid white;
  }

  .title-span {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .consoleNameColumn {
    width: 14vw;
  }

  .nameColumn {
    width: 30vw;
  }

  .statusColumn {
    width: 12vw;
  }

  .achievementsColumn {
    width: 8vw
  }

  .pointsColumn {
    width: 9vw
  }

  .ratioColumn {
    width: 5vw;
  }

  .percentageColumn {
    width: 10vw
  }

  .idColumn {
    width: 5vw
  }

  .linkToDataColumn {
    width: 5vw
  }






  .urlButton {
    background: transparent;
    border: 0px;
    color: white;
    text-decoration: underline;
    font-size: medium;
  }

  .urlButton:hover {
    cursor: pointer;
  }

  .linkToDataButton {
    background: transparent;
    border: 0px;
    text-decoration: underline;
    font-size: medium;
  }

  .linkToDataButton:hover {
    cursor: pointer;
  }

  .link-icon {
    width: 20px;
    height: 20px;
  }

  .bottom-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    justify-content: baseline;
    gap: 20px;
  }

  .source-to-request {
    display: flex;
    flex-grow: 0.3;
  }

  ::ng-deep mat-option {
    background-color: black !important;
    color: white !important;
  }

  .mat-mdc-form-field {
    color: white;
    min-width: 300px;
    margin-top: 10px;
    margin-left: 10px;
  }

  .closeButton {
    background-color: transparent;
    border: 0;
    cursor: pointer;
  }

  .closeIcon {
    color: white;
  }

  .data-progress-bar-wrapper {
    position: relative;
  }

  .data-progress-bar-value {
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 55%;
    transform: translateX(-50%);
    line-height: 0;
    color: white;
    font-weight: 500;
  }

  .data-progress-bar {
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    align-items: end;
    width: 100%;
    border: 1px solid var(--purple4);
    --mat-progress-bar-active-indicator-color: var(--purple4);
    --mat-progress-bar-active-indicator-height: 20px !important;
  }