
:root{
    --purple0:rgb(10, 0, 70);
    --purple1:rgb(25, 0, 117);
    --purple2:rgba(58, 41, 110, 1);
    --purple3:rgba(110, 38, 128, 1);

    --not-played:#a0a0a0;
    --mastered:gold;
    --beaten:green;
    --tried:aquamarine;
    --no-achievements:#555555;
}

html, body { 
    background: linear-gradient(180deg, var(--purple1) 0%, var(--purple2) 71%, var(--purple3) 100%);
}
body {
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
    width:100%;
    height:100%;
    position:fixed;
}