.compare-parent {
    display: flex;
    flex-direction: column;
    height: 90vh;
    padding: 10px;
    gap: 10px;
}

.box-with-compare-button {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.compare-box {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.compare-top {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    max-height: 60vh;
    gap: 1vw;
}

.compare-title {
    padding: 1vh;
    border-bottom: 1px solid var(--purple4);
    font-weight: 500;
}

.compare-not-in-local,
.compare-not-in-database,
.compare-completion-status {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 40vh;
    max-height: 40vh;
    background-color: var(--purple0);
    padding: 10px;
    overflow-y: scroll;
    gap: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.compare-not-in-local-box,
.compare-not-in-database-box {
    max-width: 50vw;
    border-radius: 10px;
    border: 2px solid var(--purple4);
    background-color: #100009;
}

.compare-completion-status-box {
    margin-bottom: 1vh;
    max-height: 30vh;
    border-radius: 10px;
    border: 2px solid var(--purple4);
    background-color: #100009;
}

.data-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.copy-button {
    align-items: center;
    background-color: var(--purple2);
    border: 2px solid var(--purple3);

    border-radius: 6px;
    justify-content: center;
    position: relative;
    padding: 5px;
    padding-bottom: 2px;
}

.copy-button:hover {
    cursor: pointer;
    background-color: var(--purple3);
    border: 2px solid var(--purple4);
}

.copy-icon {
    width: 20px;
    height: 20px;
}

.ok-icon {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    width: 150px;
    height: 150px;
}