.compare-parent {
    height: 90vh;
    padding: 10px;
}

.box-with-compare-button{
    display:flex;
    flex-direction: column;
}

.compare-box {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.compare-bottom {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    max-height: 45vh;
    gap: 1vw;
}

.compare-title {
    margin-bottom: 0.5vh;
    margin-top: 0.5vh
}

.compare-not-in-local,
.compare-not-in-database,
.compare-completion-status {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 40vh;
    max-height: 40vh;
    border: 3px solid var(--purple1);
    background-color: var(--purple0);
    border-radius: 10px;
    padding: 10px;
    overflow-y: scroll;
    gap: 10px;
}

.compare-not-in-local-box,
.compare-not-in-database-box {
    max-width: 50vw;
}

.compare-completion-status-box {
    margin-bottom: 1vh;
    max-height: 45vh;
}

.data-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.copy-button {
    align-items: center;
    background-color: var(--purple2);
    border: 2px solid var(--purple3);

    border-radius: 6px;
    justify-content: center;
    position: relative;
    padding: 5px;
    padding-bottom: 2px;
}

.copy-button:hover {
    cursor: pointer;
    background-color: var(--purple3);
    border: 2px solid var(--purple4);
}

.copy-icon {
    width: 20px;
    height: 20px;
}

