.data-parent {
    display: flex;
    flex-direction: row;
    height: 90vh;
    padding: 10px;
    gap: 10px;
}

.data-left {
    display: flex;
    flex-direction: column;
    max-width: 50vw;
    flex-grow: 1;
    gap: 1vh;
}

.data-right {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 50vw;
}

.data-steam,
.data-standalone,
.data-ra {
    display: flex;
    flex-grow: 1;
    border: 3px solid var(--purple1);
    background-color: var(--purple0);
    border-radius: 10px;
    padding: 10px;
}

.data-specific-standalone {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: 100%;
}

.data-steam,
.data-standalone {
    height: 40vh;
}

.data-ra {
    height: 85vh;
}

.data-ps3,
.data-psvita {
    flex-grow: 1;
}

.data-total-ra,
.data-specific-ra {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: baseline;
    flex-grow: 1;
    width: 100%;
}

.data-steam-earned,
.data-ra-earned,
.data-standalone-earned {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-self: center;
    align-items: center;
    gap: 10px;
}

.data-earned-achievements,
.data-earned-points {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-self: baseline;
    justify-content: center;
}

.data-earned-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    font-size: large;
}

.steam-icon {
    height: 42px;
}

.ra-icon {
    height: 32px;
}

.ps3-icon {
    height: 26px;
}

.psvita-icon {
    height: 24px;
}

.xbox360-icon {
    height: 60px;
}

.standalone-icons {
    display: flex;
    gap: 30px;
}

.steam-chart,
.standalone-chart,
.ra-chart {
    display: flex;
    align-self: center;
    align-items: center;
}

.steam-chart,
.ra-chart {
    height: 300px;
    width: 300px;
}

.standalone-chart {
    height: 300px;
    width: 300px;
}

.data-progress-bar-wrapper {
    position: relative;
    width: 100%;
}

.data-progress-bar-value {
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    line-height: 0;
    color: white;
    font-weight: 500;
}

.data-progress-bar {
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    align-items: end;
    width: 100%;
    border: 1px solid var(--purple4);
    --mat-progress-bar-active-indicator-color: var(--purple4);
    --mat-progress-bar-active-indicator-height: 30px !important;
}