<div class="data-parent">
    <div class="data-left">
        <div class="data-steam">
            <img src="steam.png" class="steam-icon">
            <div class="steam-chart">
                <app-chart-canvas class="steam-chart" #steamChartCanvas
                    [consoleIds]="[steamConsoleId]"></app-chart-canvas>
            </div>
            <div class="data-steam-earned">
                <h1>Earned</h1>
                <h2>{{steamAchievementsText}}</h2>
                <h2>{{steamAchievementsPercentageText}}</h2>
            </div>
        </div>
        <div class="data-standalone">
            <div style="display:flex; flex-direction:column">

                <div class="standalone-icons">
                    <img src="ps3.png" class="ps3-icon">
                    <img src="psvita.png" class="psvita-icon">
                    <img src="xbox360.png" class="xbox360-icon">
                </div>

                <div class="data-specific-standalone">
                    <div class="standalone-chart">
                        <app-chart-canvas class="standalone-chart" #standaloneChartCanvas
                            [consoleIds]="[selectedStandaloneConsoleId]"></app-chart-canvas>
                    </div>
                </div>
            </div>
            <mat-form-field style="align-self: center">
                <mat-label>Console</mat-label>
                <mat-select (selectionChange)="changeStandaloneSelectedConsole($event)"
                    [formControl]="standaloneConsoles">
                    @for (console of standaloneConsolesList; track console){
                    <mat-option [value]="console">{{console}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="data-right">
        <div class="data-ra">
            <img src="ra.png" class="ra-icon">
            <div style="display:flex; flex-direction: column; flex-grow: 1;">

                <div class="data-total-ra">
                    <div class="ra-chart">
                        <app-chart-canvas class="ra-chart" #raChartCanvas
                            [consoleIds]="raConsoleIds"></app-chart-canvas>
                    </div>
                    <div class="data-ra-earned">
                        <h1>Earned</h1>
                        <h2>{{raAchievementsText}}</h2>
                        <h2>{{raAchievementsPercentageText}}</h2>
                    </div>
                </div>

                <mat-form-field style="align-self: center; ">
                    <mat-label>Console</mat-label>
                    <mat-select (selectionChange)="changeRASelectedConsole($event)" [formControl]="raConsoles">
                        @for (console of raConsolesList; track console){
                        <mat-option [value]="console">{{console}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
                <div class="data-specific-ra">
                    <div class="ra-chart">
                        <app-chart-canvas class="ra-chart" #raConsoleChartCanvas
                            [consoleIds]="[selectedRAConsoleId]"></app-chart-canvas>
                    </div>
                    <div class="data-ra-earned">
                        <h1>Earned</h1>
                        <h2>{{raConsoleAchievementsText}}</h2>
                        <h2>{{raConsoleAchievementsPercentageText}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>