    @use '@angular/material' as mat;

    .data-table {
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        height: 90vh;
        width: 100%;
        background-color: var(--purple1);
        border: 1px solid white;
    }

    .table-parent {
        padding: 10px;
    }

    .mat-mdc-header-row,
    .mat-mdc-row,
    .mat-mdc-footer-row {
        color: white;
        border-bottom: 1px solid white;
        text-align: left;
        height: 35px;
        display: flex;
        align-items: center;
        flex: none;
    }

    .mat-mdc-header-row,
    .mat-mdc-footer-row {
        font-weight: bold;
        background-color: var(--purple0);
    }

    .mat-mdc-footer-row {
        margin-top: auto;
        border-top: 1px solid white;
    }

    .consoleNameColumn {
        width: 23vw;
        display: flex;
        gap: 8px;
        align-items: center;
    }

    .gamesColumn {
        width: 8vw;
    }

    .noAchievementsColumn {
        width: 12vw;
        display: flex;
        gap: 8px;
        align-items: center;
    }

    .notPlayedColumn {
        width: 12vw;
        display: flex;
        gap: 8px;
        align-items: center;
    }

    .triedColumn {
        width: 12vw;
        display: flex;
        gap: 8px;
        align-items: center;
    }

    .beatenColumn {
        width: 12vw;
        display: flex;
        gap: 8px;
        align-items: center;
    }

    .masteredColumn {
        width: 12vw;
        display: flex;
        gap: 8px;
        align-items: center;
    }

    .achievementsColumn {
        width: 17vw;
    }

    .pointsColumn {
        width: 17vw;
    }

    .data-progress-bar-wrapper {
        position: relative;
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .data-progress-bar-value {
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: white;
        font-weight: 500;
    }

    .data-progress-bar {
        display: flex;
        flex-direction: row;
        border-radius: 20px;
        align-items: end;
        width: 100%;
        border: 1px solid var(--purple4);
        --mat-progress-bar-active-indicator-color: var(--purple4);
        --mat-progress-bar-active-indicator-height: 20px !important;
    }

    .achievements-progress-bar-value {
        position: absolute;
        display: grid;
        align-items: center;
        grid-template-columns: 1fr auto 1fr;
        color: white;
        font-weight: 500;
    }