.dialog-parent {
    width: 95%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    align-self: center;
    padding: 10px;
    gap: 10px;
}

.loading-title {
    font-weight: 700;
    font-size: 2em;
}

.loading-progress-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    width: 100%;
    flex-grow: 1;
    --mat-progress-bar-active-indicator-color: var(--purple4);
    --mat-progress-bar-active-indicator-height: 10px !important;
}

.mat-mdc-progress-bar {
    border-radius: 10px;
    border: 1px solid var(--purple4);
    width: 80%;
    align-items: end;
}

.loading-icon {
    width: 20%;
}

.steam-icon {
    height: 42px;
}

.ra-icon {
    height: 32px;
}

.ps3-icon {
    height: 26px;
}

.psvita-icon {
    height: 24px;
}

.xbox360-icon {
    height: 60px;
}